.brand-logo {
    width: 120px;          /* tamaño del recuadro */
    height: 60px;          /* altura fija como en tu ejemplo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.brand-logo img {
    width: auto !important;
    height: 30px !important;   /* tamaño final del logo */
    max-width: none !important;
    max-height: none !important;
    display: block;
    margin: 0 auto;
}
.navbar-nav .nav-link {
    font-size: 16px;
    color: #333;
}
