:root {
    --marron-claro: #AAA085;
    --marron-oscuro: #8C836A;
    --negro: #000000;
    --gris-medio: #878686;
    --gris-claro: #D9D9D9;
    --rojo-error: #b00020;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url('../img/logo_rebelde.png');
    background-repeat: repeat;
    background-size: 140px;
    opacity: 0.08;
    transform: rotate(-35deg);
    z-index: -1;
}

.contenedor {
    width: 420px;
    background: #fff;
    padding: 35px 40px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--marron-oscuro);
}

label {
    display: block;
    margin-bottom: 6px;
    color: var(--negro);
    font-size: 1rem;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid var(--gris-medio);
    border-radius: 6px;
    background-color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.error-input {
    border-color: var(--rojo-error) !important;
    box-shadow: 0 0 0 2px rgba(176, 0, 32, 0.3) !important;
}

.error-text {
    color: var(--rojo-error);
    font-size: 0.85rem;
    margin-top: -12px;
    margin-bottom: 12px;
}

.fila {
    display: flex;
    gap: 12px;
}

.campo-mini, .campo-fecha {
    width: 33%;
}

.input-icono {
    position: relative;
}

.input-icono i {
    position: absolute;
    left: 12px;
    top: 35%;
    transform: translateY(-50%);
    color: var(--gris-medio);
    font-size: 1rem;
    pointer-events: none;
}

.input-icono input {
    padding-left: 40px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--marron-claro);
    color: #ffffffc5;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--marron-oscuro);
}

p {
    text-align: center;
    margin-top: 10px;
    color: var(--marron-oscuro);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--marron-claro);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}
