:root {
    --marron-claro: #AAA085;
    --marron-oscuro: #8C836A;
    --negro: #000000;
    --gris-medio: #878686;
    --gris-claro: #F2F2F2;
    --rojo-error: #b00020;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 650px;
    max-width: 95%;
    background: #fff;
    padding: 45px 55px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--marron-oscuro);
}

.resumen-pago h3 {
    font-size: 1rem;
    margin: 3px 0;
}

.resumen-pago p {
    font-size: 0.9rem;
    margin: 0;
}

label {
    display: block;
    margin-bottom: 6px;
    color: var(--negro);
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid var(--gris-medio);
    border-radius: 6px;
    background-color: #fff;
}

.fila {
    display: flex;
    gap: 12px;
}

.mitad {
    width: 50%;
}

.campo-fecha {
    width: 33%;
}

.campo-mini {
    width: 33%;
}

.input-icono {
    position: relative;
}

.input-icono i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--gris-medio);
    pointer-events: none;
}

.input-icono input {
    padding-left: 42px;
    height: 45px;
    line-height: 45px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--marron-claro);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--marron-oscuro);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: var(--marron-claro);
}
